<section class="p-cta">
    <div class="p-cta__wrapper c-wrapper c-relative">
        <div class="c-inner -w1084">
            <div class="p-cta__head">
                <h2 class="title">
                    <picture>
                        <source media="(max-width: 768px)" srcset="./assets/img/cta_title_sp.png">
                        <img src="./assets/img/cta_title_pc.png" alt="中村学園ビューティコラボレーション">
                    </picture>
                </h2>
            </div>
            <% if (body_class === "home") { %>
                <div class="p-cta__desc">
                    <p>どの専攻が自分に合うのか、<br>診断した後は資料を請求して、具体的な内容を見てみよう。<br>まだ、迷っている方も、興味のある選考についての<br>資料を見てオープンキャンパスに行ってみよう。
                    </p>
                </div>
                <div class="p-cta__btn">
                    <div class="btn c-btn -black">
                        <a href="" class="btn__inner c-btn__inner -white"><span class="btn__txt">資料請求をする</span><span class="btn__arrow"></span>
                        </a>
                    </div>
                </div>
            <% } else { %>
                <div class="p-cta__desc">
                    <p>AIE、ジェイの各専攻、特色、雰囲気について、より詳しい情報は入学案内書で確認できます！<br>まだ迷われている方も、興味のある専攻を資料で確認して、オープンキャンパスにご参加ください！</p>
                </div>
                <div class="p-cta__btn">
                    <div class="btn c-btn -blue">
                        <a href="" class="btn__inner c-btn__inner -white"><span class="btn__txt">AIEはこちら</span><span class="btn__arrow"></span>
                        </a>
                    </div>
                    <div class="btn c-btn -red">
                        <a href="" class="btn__inner c-btn__inner -white"><span class="btn__txt">ジェイはこちら</span><span class="btn__arrow"></span>
                        </a>
                    </div>
                </div>
            <% } %>
            <div class="p-cta__img">
                <img src="./assets/img/cta_img.png" alt="">
            </div>
        </div>
    </div>
</section>
<div id="sitemap" class="u-none--768">
    <div class="c-wrapper">
        <div class="c-inner">
            <div class="c-col2">
                <div class="c-col2__item">
                    <div class="p-sitemap -i">
                        <div class="p-sitemap__logo">
                            <a href="">
                                <img src="./assets/img/sitemap_logo_i.png" alt="">
                            </a>
                        </div>
                        <div class="p-sitemap__list">
                            <ul class="list">
                                <li class="list__item">
                                    <a href="">トップ</a>
                                </li>
                                <li class="list__item">
                                    <a href="">学校の特色</a>
                                    <ul class="list-child">
                                        <li class="list-child__item"><a href="">選ばれる理由</a></li>
                                        <li class="list-child__item"><a href="">適性診断</a></li>
                                        <li class="list-child__item"><a href="">学生座談会</a></li>
                                        <li class="list-child__item"><a href="">中村学園</a></li>
                                        <li class="list-child__item"><a href="">からきめ制度</a></li>
                                    </ul>
                                </li>
                                <li class="list__item">
                                    <a href="">施設・設備</a>
                                    <ul class="list-child">
                                        <li class="list-child__item"><a href="">施設紹介</a></li>
                                        <li class="list-child__item"><a href="">アイサロン</a></li>
                                    </ul>
                                </li>
                                <li class="list__item">
                                    <a href="">就職・資格</a>
                                    <ul class="list-child">
                                        <li class="list-child__item"><a href="">活躍する卒業生</a></li>
                                        <li class="list-child__item"><a href="">よくあるご質問</a></li>
                                        <li class="list-child__item"><a href="">資格取得</a></li>
                                    </ul>
                                </li>
                                <li class="list__item">
                                    <a href="">専攻</a>
                                    <ul class="list-child">
                                        <li class="list-child__item"><a href="">エステティシャン専攻</a></li>
                                        <li class="list-child__item"><a href="">アロマ&セラピスト専攻</a></li>
                                        <li class="list-child__item"><a href="">メイクアップアーティスト専攻</a></li>
                                        <li class="list-child__item"><a href="">ブライダルビューティ専攻</a></li>
                                        <li class="list-child__item"><a href="">ネイリスト専攻</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="list">
                                <li class="list__item">
                                    <a href="">入試・学費</a>
                                    <ul class="list-child">
                                        <li class="list-child__item"><a href="">指定校推薦・学校推薦</a></li>
                                        <li class="list-child__item"><a href="">AO入学専攻・一般入学専攻</a></li>
                                        <li class="list-child__item"><a href="">特待生制度</a></li>
                                        <li class="list-child__item"><a href="">学費</a></li>
                                        <li class="list-child__item"><a href="">入学までの流れ</a></li>
                                        <li class="list-child__item"><a href="">入試概要</a></li>
                                    </ul>
                                </li>
                                <li class="list__item">
                                    <a href="">キャンパスライフ</a>
                                    <ul class="list-child">
                                        <li class="list-child__item"><a href="">Real School Life</a></li>
                                        <li class="list-child__item"><a href="">クラブサークル</a></li>
                                        <li class="list-child__item"><a href="">私服スナップ</a></li>
                                        <li class="list-child__item"><a href="">AIE’s One day</a></li>
                                    </ul>
                                </li>
                                <li class="list__item">
                                    <a href="">オープンキャンパス</a>
                                    <ul class="list-child">
                                        <li class="list-child__item"><a href="">来校OPEN CUMPUS</a></li>
                                        <li class="list-child__item"><a href="">WEBでOPEN CAMPUS</a></li>
                                    </ul>
                                </li>
                                <li class="list__item">
                                    <a href="">情報公開</a>
                                </li>
                                <li class="list__item">
                                    <a href="">高校1・2年生の方へ</a>
                                </li>
                                <li class="list__item">
                                    <a href="">保護者の方へ</a>
                                </li>
                                <li class="list__item">
                                    <a href="">一人暮らしの方へ</a>
                                </li>
                                <li class="list__item">
                                    <a href="">資料請求</a>
                                </li>
                                <li class="list__item">
                                    <a href="">お問い合わせ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="c-col2__item">
                    <div class="p-sitemap -j">
                        <div class="p-sitemap__logo">
                            <a href="">
                                <img src="./assets/img/sitemap_logo_j.png" alt="">
                            </a>
                        </div>
                        <div class="p-sitemap__list">
                            <ul class="list">
                                <li class="list__item">
                                    <a href="">トップ</a>
                                </li>
                                <li class="list__item">
                                    <a href="">学校の特色</a>
                                    <ul class="list-child">
                                        <li class="list-child__item"><a href="">選ばれる理由</a></li>
                                        <li class="list-child__item"><a href="">適性診断</a></li>
                                        <li class="list-child__item"><a href="">学生座談会</a></li>
                                        <li class="list-child__item"><a href="">中村学園</a></li>
                                        <li class="list-child__item"><a href="">最短スタイリストデビュー</a></li>
                                    </ul>
                                </li>
                                <li class="list__item">
                                    <a href="">施設・設備</a>
                                    <ul class="list-child">
                                        <li class="list-child__item"><a href="">施設紹介</a></li>
                                    </ul>
                                </li>
                                <li class="list__item">
                                    <a href="">就職・資格</a>
                                    <ul class="list-child">
                                        <li class="list-child__item"><a href="">活躍する卒業生</a></li>
                                        <li class="list-child__item"><a href="">よくあるご質問</a></li>
                                        <li class="list-child__item"><a href="">資格取得</a></li>
                                    </ul>
                                </li>
                                <li class="list__item">
                                    <a href="">専攻</a>
                                    <ul class="list-child">
                                        <li class="list-child__item"><a href="">ヘアスタイリスト専攻</a></li>
                                        <li class="list-child__item"><a href="">ヘアメイク専攻</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="list">
                                <li class="list__item">
                                    <a href="">入試・学費</a>
                                    <ul class="list-child">
                                        <li class="list-child__item"><a href="">指定校推薦・学校推薦</a></li>
                                        <li class="list-child__item"><a href="">AO入学専攻・一般入学専攻</a></li>
                                        <li class="list-child__item"><a href="">特待生制度</a></li>
                                        <li class="list-child__item"><a href="">学費</a></li>
                                        <li class="list-child__item"><a href="">入学までの流れ</a></li>
                                        <li class="list-child__item"><a href="">入試概要</a></li>
                                    </ul>
                                </li>
                                <li class="list__item">
                                    <a href="">キャンパスライフ</a>
                                    <ul class="list-child">
                                        <li class="list-child__item"><a href="">Real School Life</a></li>
                                        <li class="list-child__item"><a href="">クラブサークル</a></li>
                                        <li class="list-child__item"><a href="">私服スナップ</a></li>
                                        <li class="list-child__item"><a href="">J’s One day</a></li>
                                    </ul>
                                </li>
                                <li class="list__item">
                                    <a href="">オープンキャンパス</a>
                                    <ul class="list-child">
                                        <li class="list-child__item"><a href="">来校OPEN CUMPUS</a></li>
                                        <li class="list-child__item"><a href="">WEBでOPEN CAMPUS</a></li>
                                    </ul>
                                </li>
                                <li class="list__item">
                                    <a href="">情報公開</a>
                                </li>
                                <li class="list__item">
                                    <a href="">高校1・2年生の方へ</a>
                                </li>
                                <li class="list__item">
                                    <a href="">保護者の方へ</a>
                                </li>
                                <li class="list__item">
                                    <a href="">一人暮らしの方へ</a>
                                </li>
                                <li class="list__item">
                                    <a href="">資料請求</a>
                                </li>
                                <li class="list__item">
                                    <a href="">お問い合わせ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="u-block--768">
    <div class="p-logo-sns">
        <div class="c-inner">
            <div class="p-logo-sns__logo">
                <div class="logo"><img src="./assets/img/sitemap_logo_i.png" alt=""></div>
                <div class="logo"><img src="./assets/img/sitemap_logo_j.png" alt=""></div>
            </div>
            <div class="p-logo-sns__sns">
                <ul class="list">
                    <li class="list__item"><a href=""><i class="fab fa-twitter"></i></a></li>
                    <li class="list__item"><a href=""><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="address">
    <div class="p-address">
        <div class="p-address__wrapper c-wrapper">
            <div class="c-inner">
                <div class="p-address__list">
                    <ul>
                        <li>
                            <address class="p-address-item">
                                <div class="logo"><img src="./assets/img/sitemap_logo_i.png" alt=""></div>
                                <p>〒260-0021<br>千葉県千葉市中央区新宿2-14-3</p>
                                <div class="tel"><a href="">0120-461-901</a></div>
                            </address>
                        </li>
                        <li>
                            <address class="p-address-item">
                                <div class="logo"><img src="./assets/img/sitemap_logo_j.png" alt=""></div>
                                <p>〒260-0021<br>千葉県千葉市中央区新宿2-14-3</p>
                                <div class="tel"><a href="">0800-800-1434</a></div>
                            </address>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="p-footer">
    <div class="c-wrapper">

        <div class="c-inner">
            <div class="p-footer__upper">
                <div class="p-footer__menu">
                    <ul class="list">
                        <li class="list__item"><a href="">教員募集</a></li>
                        <li class="list__item"><a href="">職業実践専門課程</a></li>
                        <li class="list__item"><a href="">治癒・登校許可証明書</a></li>
                        <li class="list__item"><a href="">サイトマップ</a></li>
                        <li class="list__item"><a href="">学校法人中村学園</a></li>
                        <li class="list__item"><a href="">プライバシーポリシー</a></li>
                    </ul>
                </div>
                <div class="p-footer__sns">
                    <ul class="list">
                        <li class="list__item"><a href=""><i class="fab fa-twitter"></i></a></li>
                        <li class="list__item"><a href=""><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="p-footer__lower">
                <div class="copyright">
                    <p>
                        <small>Copyright © 学校法人中村学園. All Rights Reserved.</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>