<div class="p-drawer">
    <div class="p-drawer__logo">
        <div class="logo">
            <a href="">
                <picture>
                    <img src="./assets/img/drawer_logo.png" alt="">
                </picture>
            </a>
        </div>
    </div>
    <div class="p-drawer__list">
        <ul class="list">
            <li class="list-item">
                <a href=""><span class="txt">トップ</span><span class="arrow"></span></a>
            </li>
            <li class="list-item">
                <a href=""><span class="txt">学校の特色</span><span class="arrow"></span></a>
            </li>
            <li class="list-item">
                <a href=""><span class="txt">専攻</span><span class="arrow"></span></a>
            </li>
            <li class="list-item">
                <a href=""><span class="txt">施設・設備</span><span class="arrow"></span></a>
            </li>
            <li class="list-item">
                <a href=""><span class="txt">就職・資格</span><span class="arrow"></span></a>
            </li>
            <li class="list-item">
                <a href=""><span class="txt">キャンパスライフ</span><span class="arrow"></span></a>
            </li>
            <li class="list-item">
                <a href=""><span class="txt">入試・学費</span><span class="arrow"></span></a>
            </li>
            <li class="list-item">
                <a href=""><span class="txt">オープンキャンパス</span><span class="arrow"></span></a>
            </li>
        </ul>
        <ul class="list2">
            <li><a href="">企業・サロンの方へ</a></li>
            <li><a href="">お問い合わせ</a></li>
        </ul>
        <ul class="list3">
            <li><a href=""><img src="./assets/img/drawer_btn1.png" alt=""></a></li>
            <li><a href=""><img src="./assets/img/drawer_btn2.png" alt=""></a></li>
        </ul>
    </div>
</div>