.u-none{
    &--768{
        @media (max-width:768px){
            display: none;
        }
    }
}
.u-block{
    &--768{
        display: none;
        @media (max-width:768px){
            display: block;
        }
    }
    &--480{
        display: none;
        @media (max-width:480px){
            display: block;
        }
    }
}

.js-tabs{
    li{
        a{
            .c-schoolname{
                position: relative;
                &::after{
                    content: '';
                    width: 0;
                    height: 0;
                    border: 9px solid transparent;
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -9px;
                    display: none;
                }
                &.-i::after{
                    border-top: 8px solid $gold;
                }
                &.-j::after{
                    border-top: 8px solid $red;
                }
            }
            &.is-active .c-schoolname{
                &::after{
                    @include max768{
                        display: block;
                    }
                }
            }
        }
    }
}

.js-tab-content{
    display: block;
    @include max768{
        display: none;
    }
    &.is-active{
        display: block!important;
    }
}

.mb6 {
    margin: 0 0 6rem;
}