.major {
    &-panel {
        .tab-group {
            display: flex;
            width: 100%;
            margin: 0 0 10rem;
            @include max768 {
                width: 92.1%;
                margin: 0 auto 6rem;
                flex-wrap: wrap;
            }
            .tab {
                width: 50%;
                cursor:pointer;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($color: #000000, $alpha:.45);;
                    z-index: 1;
                    @include max768 {
                        content: unset;
                    }
                }
                &.is-active {
                    &::after {
                        content: unset;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 25%;
                        background-image: url(../img/course/j/white_gradation.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        z-index: 1;
                        @include max768 {
                            content: unset;
                        }
                    }
                    .tab-inner {
                        .title {
                            .heading {
                                @include max768 {
                                    background-color: #000;
                                }
                                h3 {
                                    color: #000;
                                    @include max768 {
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }

                }
                &-inner {
                    position: relative;
                    .tag {
                        text-align: center;
                        margin: 0 0 -.5rem;
                        position: absolute;
                        width: 100%;
                        color: #fff;
                        @include max768 {
                            display: none;
                        }
                        &.-black {
                            background-color: #000;
                        }
                        &.-green {
                            background-color: #67be8d;
                        }
                        &.-yellow {
                            background-color: #f8b861;
                        }
                        &.-red {
                            background-color: #ed7980;
                        }
                        &.-bule {
                            background-color: #6fc8d8;
                        }
                        &.-purple {
                            background-color: #aa89bd;
                        }
                    }
                    .img {
                        @include max768 {
                            display: none;
                        }
                    }
                    .title {
                        position: absolute;
                        left: 1.6rem;
                        bottom: 2rem;
                        z-index: 2;
                        @include max768 {
                            position: unset;
                        }
                        .category {
                            color: #fff;
                            margin: 0 0 1rem;
                            @include max768 {
                                display: none;
                            }
                            .tip {
                                padding: .5rem .5rem .2rem;
                                &.-black {
                                    background-color: #000;
                                }
                                &.-green {
                                    background-color: #67be8d;
                                }
                                &.-yellow {
                                    background-color: #f8b861;
                                }
                                &.-red {
                                    background-color: #ed7980;
                                }
                                &.-bule {
                                    background-color: #6fc8d8;
                                }
                                &.-purple {
                                    background-color: #aa89bd;
                                }
                            }
                        }
                        .heading {
                            h3 {
                                font-size: 2.4rem;
                                color: #fff;
                                line-height: 1.3;
                                @include max768 {
                                    color: #000;
                                    padding: 2.6rem 1.6rem;
                                }
                                @include max480 {
                                    font-size: 1.4rem;
                                    padding: 1.6rem 1rem;
                                }
                                @include max360 {
                                    font-size: 1.2rem;
                                }
                                @include max768 {
                                    &.-black {
                                        background-color: #000;
                                        color: #fff;
                                    }
                                    &.-green {
                                        background-color: #67be8d;
                                        color: #fff;
                                    }
                                    &.-yellow {
                                        background-color: #f8b861;
                                        color: #fff;
                                    }
                                    &.-red {
                                        background-color: #ed7980;
                                        color: #fff;
                                    }
                                    &.-bule {
                                        background-color: #6fc8d8;
                                        color: #fff;
                                    }
                                    &.-purple {
                                        background-color: #aa89bd;
                                        color: #fff;
                                    }
                                }
                            }
                            @include max768 {
                                border: solid 1px #000;
                            }
                            &.border-none {
                                @include max768 {
                                    border: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .panel-group {
        .panel {
            display:none;
            &.is-show{
                display:block;
            }
        }
    }
}