.course_aie-course_bridal{

    .esthe_bg{
        background-color: #91cbd9;
    }
    .esthe_bg_d{
        background-color: #20a5c5;
    }
    .esthe_bg_dd{
        background-color: #eba642;
    }
    .esthe_bg_r{
        background-color: #ec6941;
    }
    .esthe_bg_b{
        background-color: #91c8d8;
    }
    .esthe_bg_db{
        background-color: #5abad6;
    }
    .esthe-schedule span{
        color: #bddde5!important;
    }
    .p-title{background-image: url(../img/course_aie-course_aroma/aroma_bg@3x.jpg);}
    .aie-c-features{background-image: url(../img/course_aie-course_aroma/aie-c-features@3x.png)}
    
    .aie-c-fv{
        .aie-c-title{
            &>div{
                width: 57%!important;
                margin-left:auto;
                h2{
                    text-align: left!important;
                }
            }
        }
    }
    .aie-c-schedule{
        .aie-c-schedule__curriculum{
            border: 2px solid #20a5c5;
        }
    }
    .aie-c-info{
        .aie-c-info__txt{
            .aie-c-info__wp{
                border-bottom : 7px dotted #20a5c5;
            }
        }
    }
}