.course_aie-course_nail{

    .esthe_bg{
        background-color: #e39b9a;
    }
    .esthe_bg_d{
        background-color: #9e7cbf;
    }
    .esthe_bg_dd{
        background-color: #8051ae
    }
    .esthe_bg_r{
        background-color: #ec6941;
    }
    .esthe_bg_b{
        background-color: #e2706f;
    }
    .esthe-schedule span{
        color: #c6b4d8!important;
    }
    .p-title{background-image: url(../img/course_aie-course_nail/mv_bg@3x.jpg);}
    .aie-c-features{background-image: url(../img/course_aie-course_nail/aie-c-features@3x.png)}
    
    .aie-c-fv{
        .aie-c-title{
            div{
                width: 57%!important;
            }
            h2{
                text-align: left!important;
            }
        }
    }
    .aie-c-schedule{
        .aie-c-schedule__curriculum{
            border: 2px solid #9e7cbf;
        }
    }
    .aie-c-info{
        .aie-c-info__txt{
            .aie-c-info__wp{
                border-bottom : 7px dotted #f8b861;
            }
        }
    }
    .aie-c-supplement__contents{
        background-color: #ece1f7;
    }
}