.course_aie-course_esthe{



}


.esthe_bg{
    background-color: #f8b861;
}
.esthe_bg_d{
    background-color: #f9a534;
}
.esthe_bg_p{
    background-color: #afd8e4;
}



.aie-c-fv{
    width: 92%;
    margin-left:auto ;
    position: relative;
    .aie-c-title{
        width: 600px;
        padding: 20px;
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        &>div{
            width: 80%;
            margin-left:auto ;
        }
        h2{
            font-size: 3.6rem;
            font-weight: bold;
            margin: 0 0 20px 0;
        }
    }
    .aie-c-course{
        border: 1px solid white;
        padding: 10px;
        width: 200px;
    }
    
}