.course_aie-course_make{

    .esthe_bg{
        background-color: #91cbd9;
    }
    .esthe_bg_d{
        background-color: #e2706f;
    }
    .esthe_bg_dd{
        background-color: #ff99cc;
    }
    .esthe_bg_r{
        background-color: #ec6941;
    }
    .esthe_bg_b{
        background-color: #91c8d8;
    }
    .esthe_bg_db{
        background-color: #5abad6;
    }
    .esthe-schedule span{
        color: #eec6c5!important;
    }
    .p-title{background-image: url(../img/course_aie-course_make/mv_bg@3x.jpg);}
    .aie-c-features{background-image: url(../img/course_aie-course_make/aie-c-features@3x.png)}
    
    .aie-c-fv{
        .aie-c-title{
            div{
                width: 57%!important;
            }
            h2{
                text-align: left!important;
            }
        }
    }
    .aie-c-schedule{
        .aie-c-schedule__curriculum{
            border: 2px solid #e2706f;
        }
    }
    .aie-c-info{
        .aie-c-info__txt{
            .aie-c-info__wp{
                border-bottom : 7px dotted #e2706f;
            }
        }
    }
    .aie-c-supplement__contents{
        background-color: #f4d9e6;
    }
}