.j-ao {
    .l-header {
        .p-title {
            background-image: url(../img/application/j/ao_mv.jpg);
            .title {
                text-align: left;
            }
        }
    }
    table ,td ,th {
        border-collapse: collapse;
        border:1px solid #000;
    }
    .p-app_block {
        &__inner {
            .center {
                text-align: center;
            }
        }
        .ao-flow {
            background-color: #efefef;
            padding: 5rem 4rem;
            @include max480 {
                padding: 2.5rem 1.5rem;
            }
            &_title {
                text-align: center;
                margin: 0 0 5rem;
                @include max480 {
                    margin: 0 0 2.5rem;
                }
                .title {
                    display: inline-block;
                    h2 {
                        font-size: 3rem;
                        @include max480 {
                            font-size: 2rem;
                        }
                    }
                }
            }
            &_content {
                overflow-x: scroll;
                &_wrap {
                    .img {
                        @include max1024 {
                            width: 900px;
                        }
                        @include max480 {
                            width: 500px;
                        }
                    }
                }
            }
        }
        .note {
            margin: 2rem 0 0;
            line-height: 2;
        }
    }
}