.p-title{
    $this: &;
    .campuslife_voice &{
        background-image: url(../img/campuslife/campuslife_voice_mv.png);
        @include max768{
            // background-image: url(../img/feature/feature_title_bg_sp.png);
        }
        .title{
            text-align: left;
        }
    }
}
.intro{
    $this: &;
    .campuslife_voice &{
        padding: 1rem 0 4rem;
        @include max768{
            padding: 5rem 0 2rem;
        }
        .title{
            margin-bottom: 3rem;
            font-size: 3rem;
            text-align: center;
            line-height: 1.3;
            span{
                background: linear-gradient(180deg, transparent, transparent 60%, #ff0 60%, #ff0);
            }
        }
        p{
            text-align: center;
        }
    }
}