.company {
  .p-title{
    background-image: url("../img/sitemap/com_bg.jpg");
		.title{
			text-align:left;
		}
	}

  .js-tab-content{
		display: block;

		@include max768{
			display: none;
		}
	}

  .c-col2__item  .content {
    padding: 50px 30px;
  }

  #tab_content_2 {
    background-color: #000;
  }

  .company_list {

    > li {
      padding: 0 0 40px 0;

      ul {

        li {
          font-size: 1.4rem;
          margin: 0 0 20px 0;
        }
      }
    }

    h3 {
      font-size: 1.8rem;
      padding: 0 0 20px 0;
      margin: 0 0 30px 0;
      border-bottom: solid 1px #ddd;
    }

    p {
      font-size: 1.4rem;
    }
  }

  .fwb {
    font-weight: bold;
  }
  
  .employ_list {
    color: #fff;
    background-color: #000;
  }

  .contact_link_wrap {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 0 0 40px 0;

    @include max480 {
      width: 100%;
    }

    .scholaship {
      background-color: #fdf0f4;
      padding: 2.4rem 0;

      p {
        font-weight: bold;
        line-height: 2;
        margin: 0;
      }
    }

    .yellow {
      background-color: #fffcdd;
    }

    .gray {
      color: #000;
      background-color: #d9d9d9;
    }
  }

  .c-btn {
    display: block;
    margin: 0 auto;

    &__inner {
      border-radius: 0;
    }
  }
}